body{
 background:#f2f2f2 ;
}


.tema button {
 align-self: flex-end; 
 margin:10px;
  font-size:24px;
  font-weight:400;
  padding: 8px 16px;
  background: #f2f2f2;
  border-radius: 20px;
  
}

.container {
  background:#f2f2f2;
  margin: 33px;
  border-radius:09px;
  padding: 10px
}

.foto{
border-radius:50px;    
}

h1 {
  color:#DF0101;
 text-align:center;
  font-size:88px;
}

h2 {
text-align:center;
  font-size:33px;
  color:#000000;
   
}

h3 {
  text-align:center;
  color: #DF0101;
  font-size:47px;
}

h4{
  color:#000000 ;
  font-size:30px ;
  text-align:center;
   colo:black;
}

.container2 {
  color:#ffffff;
  background:#000000;
  margin: 33px;
  border-radius:09px;
  padding: 22px
}

.link {
  color: #DF0101;
    font-size:30px;
  padding:50px;
  margin:50px
}

.dark {
  background:#1c1c1c;
}

.dark .container {
background:#1c1c1c;
}

.dark .temah2 {
  background: #f2f2f2;
  
}

.dark .temah4{
  background: #f2f2f2;
   border-radius:09px;
}

.dark .tema button {
  background: #1C1C1C;
  color: #ffffff;
  border: 2px solid #F7F7F7;
}

.dark .container2 {
background:#f2f2f2;
}

.dark .subtitulo{
  background:#f2f2f2;
  border-radius:09px;
  border:2px;
  color:red;
}
