.container {
  color:#ffffff;
  background:#000000;
  margin: 33px;
  border-radius:09px;
  padding: 10px
}

h1 {
  color:#DF0101;
 text-align:center;
  font-size:88px;
}

h2 {
text-align:center
 ;
  font-size:44px;
}

.foto1{
  border-radius:40px;
}

.netflix {
 margin-left:152px;
}

h3 {
  text-align:center;
  color: #DF0101;
  font-size:66px;
}

h4{
  color:#ffffff ;
  font-size:44px ;
  text-align:center;
}

.container2 {
  color:#ffffff;
  background:#ffffff;
  margin: 33px;
  border-radius:09px;
  padding: 10px
}

.linknetflix {
  color: #DF0101;
    font-size:60px;
  margin-left:280px
}

 
